name: CI Ubuntu

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest-m

    strategy:
      matrix:
          python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
    - uses: webfactory/ssh-agent@v0.9.0
      with:
            ssh-private-key: ${{ secrets.TURINGDB_DEPLOY_KEY }}
    - uses: actions/checkout@v4
      with:
            # Fetch submodules using the built-in token over HTTPS
            submodules: recursive
            # Ensure credentials are set for submodule fetches
            persist-credentials: true
    - name: Install uv
      uses: astral-sh/setup-uv@v3
    - name: Install python
      shell: bash
      run: uv python install ${{ matrix.python-version }}
    - name: Build wheel
      shell: bash
      run: uv build --wheel --python ${{ matrix.python-version }}
